<template>
    <div id="app">
        <facebook-login class="button"
                        appId="326022817735322"
                        @login="getUserData"
                        @logout="onLogout"
                        @get-initial-status="getUserData">
        </facebook-login>

        <GoogleLogin :params="params" :renderParams="renderParams" :onSuccess="onSuccess" :onFailure="onFailure" :logoutButton=false>texto</GoogleLogin>
        <br>
        <GoogleLogin :params="params" :onSuccess="onSuccess" :onFailure="onFailure">Login</GoogleLogin>
        <GoogleLogin :params="params" :logoutButton=true class="button-style">Logout</GoogleLogin>
        <button @click="handleClick">isLoggedIn</button>
        <roter-link to="no-page">No Page</roter-link>
    </div>
</template>

<script>
    import facebookLogin from 'facebook-login-vuejs';
    import GoogleLogin from 'vue-google-login';

    export default {
        name: 'app',
        data() {
            return {
                // client_id is the only required property but you can add several more params, full list down bellow on the Auth api section
                params: {
                    client_id: "672275288589-gdg4j010jalhp5n6gh45333dhuq69liv.apps.googleusercontent.com"
                },
                // only needed if you want to render the button with the google ui
                renderParams: {
                    width: 250,
                    height: 50,
                    longtitle: true
                }
            }
        },
        components: {
            GoogleLogin,
            facebookLogin,
        },
        // methods: {
        //     onSuccess(googleUser) {
        //         console.log(googleUser);
        //
        //         // This only gets the user information: id, name, imageUrl and email
        //         console.log(googleUser.getBasicProfile());
        //     }
        // }
    }

</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
        background: #1082ff;
        padding: 10px;
        position:center;
    }
    div#google-signin-btn-0 {
        position: relative;
        text-align: -webkit-center;
    }
</style>
